.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.app-header__link {
  color: var(--green);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.user-logo {
  max-height: 18px;
  margin-right: 8px;
}